
#Mision,
#Quienes {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  background-color: transparent;
  /* Asegura que el fondo no tenga color */
  color: black;
  /* Ajusta el color del texto si es necesario */

}

#Mision.active,
#Quienes.active {
  opacity: 1;
  visibility: visible;
  background-color: transparent;
  /* Asegura que el fondo no tenga color */
  color: black;
  /* Ajusta el color del texto si es necesario */

}

.titulo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Centra horizontalmente */
  gap: 10px;
  /* Espacio entre el título y el botón */
}

#toggleButton {
  padding: 8px 12px;
  font-size: 18px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#toggleButton:hover {
  background-color: #0056b3;
}


.bloque_izquierda {
  background-color: #0db2f3;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3%;
  width: 40%;
  padding-right: 10px;
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 1%;
  padding-bottom: 1%;
  float: left;

}

.bloque_derecha {
  background-color: #0db2f3;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3%;
  width: 40%;
  padding-right: 10px;
  border-radius: 10px;
  padding-left: 10px;
  padding-top: 1%;
  padding-bottom: 1%;
  float: right;
}
.derecha {
  float: right;
}

.derecha a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.derecha a:hover {
  background-color: #111;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
